.Titulo {
  margin: 10px 3.3% 10px 3.3%;
  width: 93.4%;
  height: 60px;
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Menu {
  margin: 10px 2%;
  width: 96%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Menu a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Lista1, .Lista2, .Lista3 {
  margin: 0px -38px;
  display: block;
  text-align: center;
  padding: 0px;
  -webkit-transition: 20ms;
  transition: 20ms;
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.Listado {
  display: block;
  padding: 10px;
  list-style: none;
}

.PiePagina {
  padding-top: 20px;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PiePagina a {
  padding: 0px 7% 0px 7%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: #fff5f7;
  color: #3b3630;
  cursor: default;
}

.Titulo {
  background: #fff5f7;
  border-bottom: 3px #3b3630 solid;
  color: #3b3630;
}

.Titulo:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu {
  background: #fff5f7;
  color: #3b3630;
}

.Menu .cat1 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat1:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat1:hover .Lista1 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat2 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat2:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat2:hover .Lista2 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat3 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat3:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat3:hover .Lista3 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat4 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat4:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat5 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat5:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat6 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat6:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat7 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat7:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat8 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat8:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Lista1, .Lista2, .Lista3, .Listado {
  color: #fff5f7;
}

.Lista1 .Listado:hover, .Lista2 .Listado:hover, .Lista3 .Listado:hover, .Listado .Listado:hover {
  color: #984418;
}

.PiePagina {
  background-color: #3b3630;
  color: #fff5f7;
}

.PiePagina a:hover {
  color: #984418;
}

.Titulo {
  font-size: 50px;
}

.Menu {
  font-size: 35px;
}

.Menu .Lista1, .Menu .Lista2, .Menu .Lista3 {
  font-size: 20px;
}

.PiePagina {
  font-size: 20px;
}
/*# sourceMappingURL=bassse-styles.css.map */