.Titulo {
  margin: 10px 3.3% 10px 3.3%;
  width: 93.4%;
  height: 60px;
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  z-index: 5;
}

.Barra .Menu {
  margin: 10px 0% 10px 3%;
  width: 60.0%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .Menu .cat1 {
  margin-top: 0px;
}

.Barra .Menu .cat1 a {
  padding: 0px 25px 0px 25px;
}

.Barra .Menu a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB {
  margin: 10px 3% 0px 0px;
  width: 33.7%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB .textito {
  border: 0;
  background-color: #fff5f7;
  color: black;
  margin-top: 5px;
  width: 90%;
  height: 28px;
  font-size: 25px;
  outline: none;
}

.Barra .MenuB .imagen {
  position: absolute;
  max-height: 42px;
  max-width: 42px;
}

.Barra .MenuB .imagen:hover {
  -webkit-filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
          filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
}

.Lista1, .Lista2, .Lista3 {
  margin: 0px -38px;
  display: block;
  text-align: center;
  padding: 0px;
  -webkit-transition: 20ms;
  transition: 20ms;
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.Listado {
  display: block;
  padding: 10px;
  list-style: none;
}

.Pasos {
  max-width: 100%;
  margin-bottom: 10px;
}

.Pasos .PasosTitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 20.1%;
  margin: auto;
  font-size: 30px;
}

.Pasos .PasosDesc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 58.8%;
  margin: auto;
  font-size: 20px;
}

.Noticia {
  width: 100%;
  border: red solid 2px;
  margin-bottom: 10px;
}

.Noticia .Chico {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 30px;
  margin: auto;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

.Noticia .Mediano {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 70px;
  margin: auto;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  margin-bottom: 10px;
}

.Noticia .Grande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 300px;
  margin: auto;
  padding: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  resize: none;
  margin-bottom: 10px;
}

.Noticia .Combo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 30px;
  margin: auto;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 10px;
}

.Noticia button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 12%;
  margin: auto;
  padding: 10px;
  padding-left: 62px;
  margin-bottom: 10px;
}

.PiePagina {
  padding-top: 20px;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PiePagina a {
  padding: 0px 7% 0px 7%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: #fff5f7;
  color: #3b3630;
  cursor: default;
}

.Titulo {
  background: #fff5f7;
  border-bottom: 3px #3b3630 solid;
  color: #3b3630;
}

.Titulo:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu {
  background: #fff5f7;
  color: #3b3630;
}

.Menu .cat1 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat1:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat1:hover .Lista1 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat2 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat2:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat2:hover .Lista2 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat3 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat3:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat3:hover .Lista3 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat4 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat4:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat5 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat5:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat6 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat6:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat7 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat7:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat8 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat8:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Lista1, .Lista2, .Lista3, .Listado {
  color: #fff5f7;
}

.Lista1 .Listado:hover, .Lista2 .Listado:hover, .Lista3 .Listado:hover, .Listado .Listado:hover {
  color: #984418;
}

.PiePagina {
  background-color: #3b3630;
  color: #fff5f7;
}

.PiePagina a:hover {
  color: #984418;
}

.Titulo {
  font-size: 50px;
}

.Menu {
  font-size: 35px;
}

.Menu .cat1 {
  font-size: 25px;
  line-height: 20px;
}

.Menu .Lista1, .Menu .Lista2, .Menu .Lista3 {
  font-size: 20px;
}

.PiePagina {
  font-size: 20px;
}
/*# sourceMappingURL=create-styles.css.map */