.Titulo {
  margin: 10px 3.3% 10px 3.3%;
  width: 93.4%;
  height: 60px;
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  z-index: 5;
}

.Barra .Menu {
  margin: 10px 0% 10px 3%;
  width: 60.0%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .Menu .cat1 {
  margin-top: 0px;
}

.Barra .Menu .cat1 a {
  padding: 0px 25px 0px 25px;
}

.Barra .Menu a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB {
  margin: 10px 3% 0px 0px;
  width: 33.7%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB .textito {
  border: 0;
  background-color: #fff5f7;
  color: black;
  margin-top: 5px;
  width: 90%;
  height: 28px;
  font-size: 25px;
  outline: none;
}

.Barra .MenuB .imagen {
  position: absolute;
  max-height: 42px;
  max-width: 42px;
}

.Barra .MenuB .imagen:hover {
  -webkit-filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
          filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
}

.Lista1, .Lista2, .Lista3 {
  margin: 0px -38px;
  display: block;
  text-align: center;
  padding: 0px;
  -webkit-transition: 20ms;
  transition: 20ms;
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.Listado {
  display: block;
  padding: 10px;
  list-style: none;
}

.SeccionTipo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 770px;
  margin-bottom: 10px;
}

.SeccionTipo1 .LateralIzquierdo {
  margin-left: 3%;
  width: 26%;
  height: 290px;
  position: absolute;
  z-index: 1;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral {
  margin-top: 9px;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLTitulo {
  margin-left: 44%;
  margin-top: 4%;
  width: 54%;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLImagen {
  margin-left: 15%;
  margin-top: 2%;
  width: 20%;
  height: 50px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralDerecho1 {
  position: absolute;
  right: 3%;
  width: 65%;
  height: 770px;
  display: none;
}

.SeccionTipo1 .LateralDerecho1 .Im {
  position: absolute;
  width: 220px;
  height: 660px;
}

.SeccionTipo1 .LateralDerecho1 .Im .LDImagenes, .SeccionTipo1 .LateralDerecho1 .Im .LDVideo {
  width: 200px;
  height: 150px;
  margin: 10px 10px 0px 10px;
}

.SeccionTipo1 .LateralDerecho1 .Te {
  position: absolute;
  width: 74%;
  height: 660px;
  margin-left: 230px;
}

.SeccionTipo1 .LateralDerecho1 .Bo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 10px;
  margin-top: 650px;
}

.SeccionTipo1 .LateralDerecho1 button {
  font-size: 25px;
  height: 60px;
  margin: 10px;
}

.SeccionTipo1 .LateralDerecho1 textarea {
  height: 90px;
  width: 400px;
  font-size: 20px;
  resize: none;
}

.SeccionTipo1 .LateralDerecho2 {
  margin-top: 0px;
  position: absolute;
  right: 3%;
  width: 65%;
  height: 680px;
  display: none;
}

.SeccionTipo1 .LateralDerecho2 .Perfil1 {
  margin-top: 10px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil1 img {
  margin-left: 310px;
  border-radius: 40px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil1 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  height: 45px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil2 {
  margin-top: 10px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil2 label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  height: 45px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil2 input {
  font-size: 22px;
  margin-left: 280px;
  width: 300px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil2 .file {
  margin-top: 10px;
  margin-left: 200px;
}

.SeccionTipo1 .LateralDerecho2 .Perfil2 .submit {
  width: 150px;
  margin-left: 365px;
  margin-top: 25px;
}

.SeccionTipo1 .LateralDerecho3 {
  position: absolute;
  right: 3%;
  width: 65%;
  height: 680px;
  display: none;
  margin-bottom: 10px;
}

.SeccionTipo1 .LateralDerecho3 .MNImagen {
  display: inline-block;
  margin-left: 5%;
  margin-top: 10px;
  margin-right: 1%;
  width: 25%;
  height: 130px;
}

.SeccionTipo1 .LateralDerecho3 .MNTitulo {
  margin-right: 3%;
  margin-top: 10px;
  display: inline-block;
  padding-left: 0px;
  position: absolute;
  width: 62%;
  height: 130px;
  line-height: 25px;
  font-size: 26px;
}

.SeccionTipo1 .LateralDerecho4 {
  margin-top: 0px;
  position: absolute;
  right: 3%;
  width: 65%;
  height: 1170px;
  display: none;
}

.SeccionTipo1 .LateralDerecho4 .Perfil1 {
  margin-left: 50px;
  height: 150px;
  width: 40%;
  display: inline-block;
  margin-top: 10px;
  border: brown solid 2px;
}

.SeccionTipo1 .LateralDerecho4 .Perfil1 img {
  position: absolute;
  width: 100px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 40px;
}

.SeccionTipo1 .LateralDerecho4 .Perfil1 label {
  margin-left: 150px;
  margin-top: 25px;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 25px;
  height: 45px;
}

.SeccionTipo1 .LateralDerecho4 .Perfil1 input[type=button] {
  font-size: 20px;
  margin-top: 115px;
  margin-left: 55px;
}

.SeccionTipo1 .LateralDerecho4 .Perfil1 .Tipo {
  margin-top: 55px;
}

.SeccionTipo1 .activo {
  display: block;
}

.PiePagina {
  padding-top: 20px;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  margin-top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PiePagina a {
  padding: 0px 7% 0px 7%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: #fff5f7;
  color: #3b3630;
  cursor: default;
}

.Titulo {
  background: #fff5f7;
  border-bottom: 3px #3b3630 solid;
  color: #3b3630;
}

.Titulo:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu {
  background: #fff5f7;
  color: #3b3630;
}

.Menu .cat1 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat1:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat1:hover .Lista1 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat2 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat2:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat2:hover .Lista2 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat3 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat3:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat3:hover .Lista3 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat4 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat4:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat5 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat5:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat6 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat6:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat7 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat7:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat8 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat8:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Lista1, .Lista2, .Lista3, .Listado {
  color: #fff5f7;
}

.Lista1 .Listado:hover, .Lista2 .Listado:hover, .Lista3 .Listado:hover, .Listado .Listado:hover {
  color: #984418;
}

.SeccionTipo1 .LateralIzquierdo {
  border: 2px solid #91777e;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral {
  background-color: #fff5e8;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLTitulo, .SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLDescripcion {
  color: #3b3630;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLTitulo:hover, .SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLDescripcion:hover {
  color: #984418;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLImagen {
  background: #baa190;
}

.SeccionTipo1 .LateralDerecho1 .Te {
  color: #3b3630;
}

.SeccionTipo1 .LateralDerecho1 .Bo button {
  background: #89463e;
  border: 0;
  color: #FFFFFF;
}

.SeccionTipo1 .LateralDerecho1 .Bo button:hover {
  background: #984418;
}

.PiePagina {
  background-color: #3b3630;
  color: #fff5f7;
}

.PiePagina a:hover {
  color: #984418;
}

.Titulo {
  font-size: 50px;
}

.Menu {
  font-size: 35px;
}

.Menu .cat1 {
  font-size: 25px;
  line-height: 20px;
}

.Menu .Lista1, .Menu .Lista2, .Menu .Lista3 {
  font-size: 20px;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLTitulo {
  font-size: 15px;
}

.SeccionTipo1 .LateralIzquierdo .NoticiaLateral .NLDescripcion {
  font-size: 11px;
}

.SeccionTipo1 .LateralDerecho1 .Te {
  font-size: 20px;
  line-height: 40px;
}

.PiePagina {
  font-size: 20px;
}
/*# sourceMappingURL=editor-styles.css.map */