body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: #fff5f7;
  color: #3b3230;
  cursor: default;
}

.Titulo {
  background: #fff5f7;
  border-bottom: 3px #3b3230 solid;
  color: #3b3230;
}

.Titulo:hover {
  background: #3b3230;
  color: #fff5f7;
}

.Menu {
  background: #fff5f7;
  color: #3b3230;
}

.Menu .cat1 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat1:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat1:hover .Lista1 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat2 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat2:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat2:hover .Lista2 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat3 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat3:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat3:hover .Lista3 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat4 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat4:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat5 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat5:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat6 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat6:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat7 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat7:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat8 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat8:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Lista1, .Lista2, .Lista3, .Listado {
  color: #fff5f7;
}

.Lista1 .Listado:hover, .Lista2 .Listado:hover, .Lista3 .Listado:hover, .Listado .Listado:hover {
  color: #984418;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 {
  border: 2px solid #91777e;
  background-color: #fff5e8;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Titulo, .SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Descripcion {
  color: #3b3230;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Titulo:hover, .SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Descripcion:hover {
  color: #984418;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Imagen {
  background: #baa190;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 {
  border: 1.5px solid #91777e;
  background-color: #fff5e8;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Titulo, .SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Descripcion {
  color: #3b3230;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Titulo:hover, .SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Descripcion:hover {
  color: #984418;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Imagen {
  background: #baa190;
}

.SeccionTipo1 .LateralDer {
  border: 2px solid #91777e;
}

.SeccionTipo1 .LateralDer .NoticiaLateral {
  background-color: #fff5e8;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLTitulo, .SeccionTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  color: #3b3230;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLTitulo:hover, .SeccionTipo1 .LateralDer .NoticiaLateral .NLDescripcion:hover {
  color: #984418;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLImagen {
  background: #baa190;
}

.SeccionTipo2 .NoticiaTipo3 {
  border: 1px solid #91777e;
  background-color: #fff5e8;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Titulo, .SeccionTipo2 .NoticiaTipo3 .NT3Descripcion {
  color: #3b3230;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Titulo:hover, .SeccionTipo2 .NoticiaTipo3 .NT3Descripcion:hover {
  color: #984418;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Imagen {
  background: #baa190;
}

.PiePagina {
  background-color: #3b3230;
  color: #fff5f7;
}

.PiePagina a:hover {
  color: #984418;
}

.Titulo {
  font-size: 50px;
}

.Menu {
  font-size: 35px;
}

.Menu .cat1 {
  font-size: 25px;
  line-height: 20px;
}

.Menu .Lista1, .Menu .Lista2, .Menu .Lista3 {
  font-size: 20px;
}

.SeccionTipo1 .LateralIzq {
  font-size: 30px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Titulo {
  font-size: 45px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Descripcion {
  font-size: 25px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Fecha {
  font-size: 20px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Titulo {
  font-size: 30px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Descripcion {
  font-size: 14px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Fecha {
  font-size: 16px;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLTitulo {
  font-size: 15px;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  font-size: 11px;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLFecha {
  font-size: 12px;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Titulo {
  font-size: 28px;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Descripcion {
  font-size: 14px;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Fecha {
  font-size: 16px;
}

.PiePagina {
  font-size: 20px;
}

.Titulo {
  margin: 10px 3.3% 10px 3.3%;
  width: 93.4%;
  height: 60px;
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 100%;
  z-index: 5;
}

.Barra .Menu {
  margin: 10px 0% 10px 3%;
  width: 60.0%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .Menu .cat1 {
  margin-top: 0px;
}

.Barra .Menu .cat1 a {
  padding: 0px 25px 0px 25px;
}

.Barra .Menu a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB {
  margin: 10px 3% 0px 0px;
  width: 33.7%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 5;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Barra .MenuB .textito {
  border: 0;
  background-color: #fff5f7;
  color: black;
  margin-top: 5px;
  width: 90%;
  height: 28px;
  font-size: 25px;
  outline: none;
}

.Barra .MenuB .imagen {
  position: absolute;
  max-height: 42px;
  max-width: 42px;
}

.Barra .MenuB .imagen:hover {
  -webkit-filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
          filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
}

.Lista1, .Lista2, .Lista3 {
  margin: 0px -38px;
  display: block;
  text-align: center;
  padding: 0px;
  -webkit-transition: 20ms;
  transition: 20ms;
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.Listado {
  display: block;
  padding: 10px;
  list-style: none;
}

.SeccionTipo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 770px;
  margin-bottom: 10px;
}

.SeccionTipo1 .LateralIzq {
  margin: 0% 0% 5% 3%;
  width: 65%;
  height: 770px;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Titulo {
  margin-top: 10px;
  margin-left: 41%;
  width: 23%;
  height: 70px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Descripcion {
  margin-top: 110px;
  margin-left: 41%;
  width: 23%;
  height: 300px;
  z-index: 1;
  position: absolute;
  line-height: 35px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Imagen {
  width: 62%;
  height: 400px;
  background-size: cover;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo1 .NT1Fecha {
  margin-top: -28px;
  margin-left: 5px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 {
  margin-top: 10px;
  width: 49.1%;
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: inline-block;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Titulo {
  margin-top: 250px;
  margin-left: 10px;
  width: 30.5%;
  height: 20px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Descripcion {
  margin-top: 285px;
  margin-left: 10px;
  width: 30.5%;
  height: 60px;
  z-index: 1;
  position: absolute;
  line-height: 18px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Imagen {
  width: 100%;
  height: 250px;
  background-size: cover;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralIzq .NoticiaTipo2 .NT2Fecha {
  margin-top: -25px;
  margin-left: 5px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralDer {
  margin-right: 3%;
  width: 26%;
  height: 770px;
  position: absolute;
  right: 0;
  z-index: 2;
}

.SeccionTipo1 .LateralDer .NoticiaLateral {
  margin-top: 9px;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLTitulo {
  margin-left: 44%;
  margin-top: 0%;
  width: 54%;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  margin-left: 44%;
  margin-top: 25px;
  width: 54%;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLImagen {
  margin-left: 2%;
  margin-top: 2%;
  width: 40%;
  height: 100px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo1 .LateralDer .NoticiaLateral .NLFecha {
  margin-top: -20px;
  margin-left: 12px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo2 {
  max-width: 100%;
  height: 350px;
  padding-left: 3.5%;
  padding-right: 3%;
  margin-bottom: 10px;
}

.SeccionTipo2 .NoticiaTipo3 {
  display: inline-block;
  width: 32.5%;
  height: 350px;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Titulo {
  margin-top: 210px;
  margin-left: 1%;
  width: 28.5%;
  height: 75px;
  z-index: 1;
  line-height: 20px;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Descripcion {
  margin-top: 295px;
  margin-left: 1%;
  width: 28.5%;
  height: 45px;
  z-index: 1;
  position: absolute;
  line-height: 15px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Imagen {
  width: 100%;
  height: 200px;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.SeccionTipo2 .NoticiaTipo3 .NT3Fecha {
  margin-top: -25px;
  margin-left: 5px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.PiePagina {
  padding-top: 20px;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PiePagina a {
  padding: 0px 7% 0px 7%;
  -webkit-transition: 200ms;
  transition: 200ms;
}
/*# sourceMappingURL=index-styles.css.map */