.Todo {
  width: 360px;
  padding: 10% 0 0;
  margin: auto;
}

.Formularios {
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  position: relative;
  z-index: 1;
  text-align: center;
}

.Formularios input {
  width: 100%;
  margin: 0 0 15px;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.Formularios button {
  width: 100%;
  padding: 15px;
}

.Formularios .Mensage {
  margin: 15px 0 0;
}

.Formularios .Form-Registo {
  display: inherit;
}

.Formularios .Form-Login {
  display: none;
}

.Formularios .Radioos {
  margin: 10px;
}

.Formularios .Radioos input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.Formularios .Radioos label {
  display: inline-block;
  padding: 8px 14px;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background: -webkit-gradient(linear, left top, right top, from(#3b3630), to(#b48b75));
  background: linear-gradient(90deg, #3b3630 0%, #b48b75 100%);
  color: #3b3630;
  cursor: default;
}

.Formularios {
  background: white;
}

.Formularios input {
  background: #fff5f7;
  color: #3b3630;
  border: 0;
  font-size: 14px;
}

.Formularios button {
  background: #89463e;
  border: 0;
  color: #FFFFFF;
  font-size: 14px;
  text-transform: uppercase;
}

.Formularios button:hover {
  background: #984418;
}

.Formularios .Mensage {
  color: #3b3630;
  font-size: 12px;
}

.Formularios .Mensage a {
  color: #89463e;
  text-decoration: none;
}

.Formularios .Radioos label {
  font-size: 12px;
  background-color: #fff5f7;
  border-radius: 4px;
  border: 1px solid #444;
}

.Formularios .Radioos label:hover {
  background-color: #fbcc88;
}

.Formularios .Radioos input[type="radio"]:focus + label {
  border: 2px dashed #444;
}

.Formularios .Radioos input[type='radio']:checked + label {
  background-color: #984418;
  border-color: #984418;
  color: #FFFFFF;
}
/*# sourceMappingURL=log-reg-styles.css.map */