.Titulo {
  margin: 10px 3.3% 10px 3.3%;
  width: 93.4%;
  height: 60px;
  position: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Menu {
  margin: 10px 2%;
  width: 96%;
  height: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Menu a {
  padding: 0px 38px 0px 38px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.Lista1, .Lista2, .Lista3 {
  margin: 0px -38px;
  display: block;
  text-align: center;
  padding: 0px;
  -webkit-transition: 20ms;
  transition: 20ms;
  visibility: hidden;
  position: -webkit-sticky;
  position: sticky;
}

.Listado {
  display: block;
  padding: 10px;
  list-style: none;
}

.ArticuloTipo1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 770px;
  margin-bottom: 50px;
}

.ArticuloTipo1 .LateralIzq {
  margin: 0% 0% 5% 3%;
  width: 65%;
  height: 770px;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Imagen {
  width: 100%;
  height: 400px;
  border-radius: 3px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Titulo {
  margin-top: 0px;
  width: 65%;
  height: 130px;
  z-index: 1;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Parrafo {
  margin-top: 130px;
  width: 65%;
  height: 240px;
  z-index: 1;
  position: absolute;
  line-height: 45px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo1 .LateralDer {
  margin-right: 3%;
  width: 26%;
  height: 770px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral {
  margin-top: 9px;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLTitulo {
  margin-left: 44%;
  margin-top: 0%;
  width: 54%;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  margin-left: 44%;
  margin-top: 25px;
  width: 54%;
  position: absolute;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLImagen {
  margin-left: 2%;
  margin-top: 2%;
  width: 40%;
  height: 100px;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.ArticuloTipo2 {
  max-width: 100%;
  height: 570px;
  margin-bottom: 10px;
}

.ArticuloTipo2 .Parte2Imagen {
  display: inline-block;
  margin-left: 5%;
  margin-top: 50px;
  margin-right: 5%;
  width: 40%;
  height: 370px;
}

.ArticuloTipo2 .Parte2Parrafo {
  margin-right: 3%;
  display: inline-block;
  padding-left: 0px;
  position: absolute;
  width: 45%;
  height: 570px;
  line-height: 45px;
}

.ArticuloTipo3 {
  max-width: 100%;
  height: 570px;
  margin-bottom: 10px;
}

.ArticuloTipo3 .Parte3Parrafo {
  margin-left: 5%;
  display: inline-block;
  width: 45%;
  height: 570px;
  line-height: 45px;
}

.ArticuloTipo3 .Parte3Imagen {
  display: inline-block;
  margin-right: 3%;
  position: absolute;
  margin-top: 50px;
  margin-left: 5%;
  width: 40%;
  height: 370px;
}

.VideoYoutube {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 100%;
  height: 460px;
  margin-bottom: 10px;
}

.VideoYoutube .asd {
  width: 60%;
  height: 460px;
}

.PiePagina {
  padding-top: 20px;
  max-width: 100%;
  height: 40px;
  -webkit-transition: 200ms;
  transition: 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.PiePagina a {
  padding: 0px 7% 0px 7%;
  -webkit-transition: 200ms;
  transition: 200ms;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: bolder;
  background-color: #fff5f7;
  color: #3b3630;
  cursor: default;
}

.Titulo {
  background: #fff5f7;
  border-bottom: 3px #3b3630 solid;
  color: #3b3630;
}

.Titulo:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu {
  background: #fff5f7;
  color: #3b3630;
}

.Menu .cat1 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat1:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat1:hover .Lista1 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat2 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat2:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat2:hover .Lista2 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat3 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat3:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat3:hover .Lista3 {
  background: #3b3630;
  visibility: visible;
}

.Menu .cat4 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat4:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat5 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat5:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat6 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat6:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat7 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat7:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Menu .cat8 {
  border-bottom: 2px #3b3630 solid;
}

.Menu .cat8:hover {
  background: #3b3630;
  color: #fff5f7;
}

.Lista1, .Lista2, .Lista3, .Listado {
  color: #fff5f7;
}

.Lista1 .Listado:hover, .Lista2 .Listado:hover, .Lista3 .Listado:hover, .Listado .Listado:hover {
  color: #984418;
}

.ArticuloTipo1 .LateralIzq .Parte1 {
  border: 2px solid #91777e;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Imagen {
  background: #baa190;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Titulo, .ArticuloTipo1 .LateralIzq .Parte1 .Parte1Parrafo {
  color: #3b3630;
}

.ArticuloTipo1 .LateralDer {
  border: 2px solid #91777e;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral {
  background-color: #fff5f7;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLTitulo, .ArticuloTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  color: #3b3630;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLTitulo:hover, .ArticuloTipo1 .LateralDer .NoticiaLateral .NLDescripcion:hover {
  color: #984418;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLImagen {
  background: #baa190;
}

.ArticuloTipo2 .Parte2Imagen {
  background-color: #baa190;
}

.ArticuloTipo2 .Parte2Parrafo {
  color: #3b3630;
}

.ArticuloTipo3 .Parte3Parrafo {
  color: #3b3630;
}

.ArticuloTipo3 .Parte3Imagen {
  background-color: #baa190;
}

.PiePagina {
  background-color: #3b3630;
  color: #fff5f7;
}

.PiePagina a:hover {
  color: #984418;
}

.Titulo {
  font-size: 50px;
}

.Menu {
  font-size: 35px;
}

.Menu .Lista1, .Menu .Lista2, .Menu .Lista3 {
  font-size: 20px;
}

.ArticuloTipo1 .LateralIzq {
  font-size: 30px;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Titulo {
  font-size: 50px;
}

.ArticuloTipo1 .LateralIzq .Parte1 .Parte1Parrafo {
  font-size: 35px;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLTitulo {
  font-size: 15px;
}

.ArticuloTipo1 .LateralDer .NoticiaLateral .NLDescripcion {
  font-size: 11px;
}

.ArticuloTipo2 .Parte2Parrafo {
  font-size: 35px;
}

.ArticuloTipo3 .Parte3Parrafo {
  font-size: 35px;
}

.PiePagina {
  font-size: 20px;
}
/*# sourceMappingURL=notice-styles.css.map */