//El titulo " | Cookie & Toño Sports | ".
.Titulo{
    margin: 10px 3.3% 10px 3.3%;
    width: 93.4%;
    height: 60px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: flex;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

//El Menu, la barra que cambia de colores de izquierda a derecha.
.Barra{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    z-index: 5;
    .Menu{
            margin: 10px 0% 10px 3%;
            width: 60.0%;
            height: 40px;
            //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
            position: sticky;
            top: 0;
            z-index: 5;  
            display: flex;
            justify-content: left;
            transition: 200ms;
            .cat1{
                    margin-top: 0px;
                    a{
                            padding:  0px 25px 0px 25px;;
                    }
            }
            a{
                    padding: 0px 38px 0px 38px;
                    transition: 200ms;
            }
    }
    .MenuB{
            margin: 10px 3% 0px 0px;
            width: 33.7%;
            height: 40px;
            //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
            position: sticky;
            top: 0;
            right: 0;
            z-index: 5;  
            
            justify-content: left;
            transition: 200ms;
            a{
                    padding: 0px 38px 0px 38px;
                    transition: 200ms;
            }
            .textito{
                    border: 0;
                    background-color: #fff5f7;
                    color: black;
                    margin-top: 5px;
                    width: 90%;
                    height: 28px;
                    font-size: 25px;
                    outline: none;
                    //z-index: 1;
            }
            .imagen{
                    position: absolute;
                    max-height: 42px;
                    max-width: 42px;
                    //z-index: 1;
            }
            .imagen:hover{
                    filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
            }
            // .imagen:hover{
            //         color-adjust: red;
            // }
    }
}
//Aqui agrego todos los que quieran que desplieguen algo del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Lista1, .Lista2, .Lista3{  
    margin: 0px -38px;
    display: block;
    text-align: center;
    padding: 0px;
    transition: 20ms;
    visibility: hidden;
    position: sticky;
}
//Aqui se separan y ordenan cada punto desplegable de las listas del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Listado{
    display: block;
    padding: 10px;    
    list-style: none;
}

.Pasos{
    max-width: 100%;
    .PasosTitulo{
        display: flex;
        width: 20.1%;
        margin: auto;     
        font-size: 30px;
    }
    .PasosDesc{  
        display: flex;
        width: 58.8%;
        margin: auto;     
        font-size: 20px;
    }   
    margin-bottom: 10px;
}

.Noticia{
    width: 100%;
    border: red solid 2px;
    //display: flex;
    .Chico{
        display: flex;
        width: 50%;
        height: 30px;
        margin :auto;
        padding: 8px;
        box-sizing: border-box;
        margin-bottom: 10px;

    }
    .Mediano{
        display: flex;
        width: 50%;
        height: 70px;
        margin :auto;
        padding: 8px;
        box-sizing: border-box;
        resize: none;
        margin-bottom: 10px;

    }
    .Grande{
        display: flex;
        width: 50%;
        height: 300px;
        margin :auto;
        padding: 8px;
        box-sizing: border-box;
        resize: none;
        margin-bottom: 10px;

    }
    .Combo{
        display: flex;
        width: 50%;
        height: 30px;
        margin :auto;
        padding: 8px;
        padding-top: 2px;
        padding-bottom: 2px;
        box-sizing: border-box;
        margin-bottom: 10px;

    }

    button{
        display: flex;
        width: 12%;
        margin: auto;
        padding: 10px;
        padding-left: 62px;
        margin-bottom: 10px;
    }
    margin-bottom: 10px;
}

//Clase para el Pie de pagina.
.PiePagina{
    padding-top: 20px;
    max-width: 100%;
    height: 40px;
    transition: 200ms;
    display: flex;
    justify-content: center;
    a{
            padding: 0px 7% 0px 7%;    
            transition: 200ms;
            
    }  
}
