$colorA: #fff5f7;    
$colorB: #fff5e8;
$colorC: #fbcc88;        
$colorD: #baa190;    
$colorE: #b48b75;    
$colorF: #91777e;    
$colorG: #89463e;    
$colorH: #984418;    
$colorI: #ce7825;    
$colorJ: #3b3630;
$colorK: #3b3630;

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    background-color: $colorA;
    color: $colorJ;
    cursor: default
}
/////////////////////////////////////////////////////////// COLOR & HOVER ///////////////////////////////////////////////////////////////////////
.Titulo{
    background: $colorA;
    border-bottom: 3px $colorJ solid;
    color: $colorJ;
}
.Titulo:hover{
    background: $colorJ;
    color: $colorA;
}
.Menu{
    background: $colorA;
    color: $colorJ;
    //Solo muestra la linea de color de abajo de cada parte del menu.
    .cat1{  border-bottom: 2px $colorK solid;   }
    //Cambia de color cuando el mouse esta encima del cuadro & Muestra la lista desplegable de cada punto del menu.
    .cat1:hover{    background: $colorK;    color: $colorA;   .Lista1{    background: $colorK;     visibility: visible;}}

    .cat2{  border-bottom: 2px $colorK solid;   }
    .cat2:hover{    background: $colorK;    color: $colorA;   .Lista2{    background: $colorK;     visibility: visible;}}

    .cat3{  border-bottom: 2px $colorK solid;   }
    .cat3:hover{    background: $colorK;    color: $colorA;   .Lista3{    background: $colorK;     visibility: visible;}}

    .cat4{  border-bottom: 2px $colorK solid;   }
    .cat4:hover{    background: $colorK;    color: $colorA;}

    .cat5{  border-bottom: 2px $colorK solid;   }
    .cat5:hover{    background: $colorK;    color: $colorA;}

    .cat6{  border-bottom: 2px $colorK solid;   }
    .cat6:hover{    background: $colorK;    color: $colorA;}

    .cat7{  border-bottom: 2px $colorK solid;   }
    .cat7:hover{    background: $colorK;    color: $colorA;}

    .cat8{  border-bottom: 2px $colorK solid;   }
    .cat8:hover{    background: $colorK;    color: $colorA;} 
}
.Lista1, .Lista2, .Lista3, .Listado{
    color: $colorA;
    .Listado:hover{
        color: $colorH;
    }
}
.ArticuloTipo1{
    //background-color: blue;
    
    .LateralIzq{
        //background-color: red;
        .Parte1{
            border: 2px solid $colorF;
            .Parte1Imagen{
                background: $colorD;
                //filter: blur(2px);
            }
            .Parte1Titulo, .Parte1Parrafo{
                //background: greenyellow;
                color: $colorJ;
            }

        }
    }
    .LateralDer{
        //background: red;
        border: 2px solid $colorF;

        .NoticiaLateral{
            background-color: $colorA;
            .NLTitulo, .NLDescripcion{
                //background: greenyellow;
                color: $colorJ;
            }
            .NLTitulo:hover, .NLDescripcion:hover{
                color: $colorH;
            }    
            .NLImagen{
                background: $colorD;
                //filter: blur(2px);
            }
        }
    }
}
.ArticuloTipo2{
    .Parte2Imagen{
        background-color: $colorD;
    }
    .Parte2Parrafo{
        color: $colorJ;
    }
}
.ArticuloTipo3{
    .Parte3Parrafo{
        color: $colorJ;
    }
    .Parte3Imagen{
        background-color: $colorD;
    }
    
}
.PiePagina{
    background-color: $colorJ;
    color: $colorA;
    a:hover{
        color: $colorH;
    }
}

/////////////////////////////////////////////////////////////// FONTS ///////////////////////////////////////////////////////////////////////////

.Titulo{
    font-size: 50px;
}
.Menu{
    font-size: 35px;
    .Lista1, .Lista2, .Lista3{
        font-size: 20px;
    }
}
.ArticuloTipo1{
    .LateralIzq{
        font-size: 30px;
        .Parte1{
            .Parte1Titulo{
                font-size: 50px;
            }
            .Parte1Parrafo{
                font-size: 35px;
            }
        }
  
    }
    
    .LateralDer{
        .NoticiaLateral{
            .NLTitulo{
                font-size: 15px;
            }
            .NLDescripcion{
                font-size: 11px;
            }
        }  
    }
}
.ArticuloTipo2{
    .Parte2Parrafo{
        font-size: 35px;
    }
}
.ArticuloTipo3{
    .Parte3Parrafo{
        font-size: 35px;
    }
}
.PiePagina{
    font-size: 20px;
}