//El titulo " | Cookie & Toño Sports | ".
.Titulo{
    margin: 10px 3.3% 10px 3.3%;
    width: 93.4%;
    height: 60px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: flex;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

//El Menu, la barra que cambia de colores de izquierda a derecha.
.Menu{
    margin: 10px 2%;
    width: 96%;
    height: 40px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: sticky;
    top: 0;
    z-index: 5;  
    display: flex;
    justify-content: center;
    transition: 200ms;
    a{
            padding: 0px 38px 0px 38px;
            transition: 200ms;
    }
}
//Aqui agrego todos los que quieran que desplieguen algo del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Lista1, .Lista2, .Lista3{  
    margin: 0px -38px;
    display: block;
    text-align: center;
    padding: 0px;
    transition: 20ms;
    visibility: hidden;
    position: sticky;
}
//Aqui se separan y ordenan cada punto desplegable de las listas del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Listado{
    display: block;
    padding: 10px;    
    list-style: none;
}

//Clase padre del ArticuloTipo1
.ArticuloTipo1{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    height: 770px;
    //Aqui  va toda la seccion de la izquiera, el contenido grande.
    .LateralIzq{
            margin: 0% 0% 5% 3%; //top, right, bottom, left
            width: 65%;
            height: 770px;
            //Aqui se modifica el seccionado de cada noticia importante, la que es de tamaño grande.
            .Parte1{                                     
                .Parte1Imagen{
                    width: 100%;
                    height: 400px;
                    // background-size: cover;
                    // background-image:
                    //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                    //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');
                    // filter: blur(0px);
                    border-radius: 3px;
                    transition: 200ms;
                    }
                .Parte1Titulo{
                    margin-top: 0px;
                    width: 65%;
                    height: 130px;
                    z-index: 1;
                    position: absolute;
                    transition: 200ms;
                }       
                .Parte1Parrafo{   
                    margin-top: 130px;
                    width: 65%;
                    height: 240px;
                    z-index: 1;
                    position: absolute;
                    line-height: 45px;
                    transition: 200ms;
                } 
                    
            }
    }
    //Aqui  va toda la seccion de la derecha, el contenido lateral.
    .LateralDer{
            margin-right: 3%;
            width: 26%;
            height: 770px;
            position: absolute;
            right: 0;
            z-index: 1;
            //display: inline-block;
            .NoticiaLateral{
                    margin-top: 9px;
                    .NLTitulo{ 
                            margin-left: 44%;
                            margin-top: 0%;
                            width: 54%;
                            position: absolute;
                            transition: 200ms;

                    }
                    .NLDescripcion{
                            margin-left: 44%;
                            margin-top: 25px;                               
                            width: 54%;
                            position: absolute;
                            transition: 200ms;
                    }
                    .NLImagen{   
                            margin-left: 2%;
                            margin-top: 2%;
                            width: 40%;
                            height: 100px;
                            // background-size: cover;
                            // background-image:
                            //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                            //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');                                
                            transition: 200ms;
                    }
            }
    }
    margin-bottom: 50px;
}
//Clase padre del ArticuloTipo2
.ArticuloTipo2{
    max-width: 100%;
    height: 570px;
    .Parte2Imagen{
        display: inline-block;
        margin-left: 5%;
        margin-top: 50px;
        margin-right: 5%;
        width: 40%;
        height: 370px;
    }
    .Parte2Parrafo{
        margin-right: 3%;
        display: inline-block;
        padding-left: 0px;
        position: absolute;
        width: 45%;
        height: 570px;
        line-height: 45px;
    }
    margin-bottom: 10px;
}
//Clase padre del ArticuloTipo3
.ArticuloTipo3{
    max-width: 100%;
    height: 570px;
    .Parte3Parrafo{
        margin-left: 5%;
        //padding-left: 3%;
        display: inline-block;
        width: 45%;
        height: 570px;
        line-height: 45px;
    }
    .Parte3Imagen{
        display: inline-block;
        margin-right: 3%;
        position: absolute;
        margin-top: 50px;
        margin-left: 5%;
        width: 40%;
        height: 370px;
    }
    margin-bottom: 10px;
}
//Video de Youtube
.VideoYoutube{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
    height: 460px;
    .asd{
        width: 60%;
        height: 460px;
    }
    margin-bottom: 10px;
}

//Clase para el Pie de pagina.
.PiePagina{
    padding-top: 20px;
    max-width: 100%;
    height: 40px;
    transition: 200ms;
    display: flex;
    justify-content: center;
    a{
            padding: 0px 7% 0px 7%;    
            transition: 200ms;
    }  
}