$colorA: #fff5f7;    
$colorB: #fff5e8;
$colorC: #fbcc88;        
$colorD: #baa190;    
$colorE: #b48b75;    
$colorF: #91777e;    
$colorG: #89463e;    
$colorH: #984418;    
$colorI: #ce7825;    
$colorJ: #3b3630;
$colorK: #3b3630;

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    background-color: $colorA;
    color: $colorJ;
    cursor: default
}
/////////////////////////////////////////////////////////// COLOR & HOVER ///////////////////////////////////////////////////////////////////////
.Titulo{
    background: $colorA;
    border-bottom: 3px $colorJ solid;
    color: $colorJ;
}
.Titulo:hover{
    background: $colorJ;
    color: $colorA;
}
.Menu{
    background: $colorA;
    color: $colorJ;
    //Solo muestra la linea de color de abajo de cada parte del menu.
    .cat1{  border-bottom: 2px $colorK solid;   }
    //Cambia de color cuando el mouse esta encima del cuadro & Muestra la lista desplegable de cada punto del menu.
    .cat1:hover{    background: $colorK;    color: $colorA;   .Lista1{    background: $colorK;     visibility: visible;}}

    .cat2{  border-bottom: 2px $colorK solid;   }
    .cat2:hover{    background: $colorK;    color: $colorA;   .Lista2{    background: $colorK;     visibility: visible;}}

    .cat3{  border-bottom: 2px $colorK solid;   }
    .cat3:hover{    background: $colorK;    color: $colorA;   .Lista3{    background: $colorK;     visibility: visible;}}

    .cat4{  border-bottom: 2px $colorK solid;   }
    .cat4:hover{    background: $colorK;    color: $colorA;}

    .cat5{  border-bottom: 2px $colorK solid;   }
    .cat5:hover{    background: $colorK;    color: $colorA;}

    .cat6{  border-bottom: 2px $colorK solid;   }
    .cat6:hover{    background: $colorK;    color: $colorA;}

    .cat7{  border-bottom: 2px $colorK solid;   }
    .cat7:hover{    background: $colorK;    color: $colorA;}

    .cat8{  border-bottom: 2px $colorK solid;   }
    .cat8:hover{    background: $colorK;    color: $colorA;} 
}
.Lista1, .Lista2, .Lista3, .Listado{
    color: $colorA;
    .Listado:hover{
        color: $colorH;
    }
}

.SeccionTipo1{
    .LateralIzquierdo{
        //background: red;
        border: 2px solid $colorF;

        .NoticiaLateral{
            background-color: $colorB;
            .NLTitulo, .NLDescripcion{
                //background: greenyellow;
                color: $colorJ;
            }
            .NLTitulo:hover, .NLDescripcion:hover{
                color: $colorH;
            }    
            .NLImagen{
                background: $colorD;
                //filter: blur(2px);
            }
        }
    }
    .LateralDerecho1{
        
        .Te{
            color: $colorJ;
        }
        .Bo{
            button{
                background: $colorG;
                border: 0;
                color: #FFFFFF;
            }
            button:hover{
                background: $colorH;
            }
        }
    }
    
}

.PiePagina{
    background-color: $colorJ;
    color: $colorA;
    a:hover{
        color: $colorH;
    }
}

/////////////////////////////////////////////////////////////// FONTS ///////////////////////////////////////////////////////////////////////////

.Titulo{
    font-size: 50px;
}
.Menu{
    font-size: 35px;
    .cat1{
        font-size: 25px;
        
        line-height: 20px;
    }
    .Lista1, .Lista2, .Lista3{
        font-size: 20px;
    }
}

.SeccionTipo1{
    .LateralIzquierdo{
        .NoticiaLateral{
            .NLTitulo{
                font-size: 15px;
            }
            .NLDescripcion{
                font-size: 11px;
            }
        }  
    }
    .LateralDerecho1{

        .Te{
            font-size: 20px;
            line-height: 40px;
        }

    }
    

}

.PiePagina{
    font-size: 20px;
}