//El titulo " | Cookie & Toño Sports | ".
.Titulo{
    margin: 10px 3.3% 10px 3.3%;
    width: 93.4%;
    height: 60px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: flex;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

//El Menu, la barra que cambia de colores de izquierda a derecha.
.Barra{
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap; 
    max-width: 100%;
    z-index: 5;
    .Menu{
            margin: 10px 0% 10px 3%;
            width: 60.0%;
            height: 40px;
            //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
            position: sticky;
            top: 0;
            z-index: 5;  
            display: flex;
            justify-content: left;
            transition: 200ms;
            .cat1{
                    margin-top: 0px;
                    a{
                            padding:  0px 25px 0px 25px;;
                    }
            }
            a{
                    padding: 0px 38px 0px 38px;
                    transition: 200ms;
            }
    }
    .MenuB{
            margin: 10px 3% 0px 0px;
            width: 33.7%;
            height: 40px;
            //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
            position: sticky;
            top: 0;
            right: 0;
            z-index: 5;  
            
            justify-content: left;
            transition: 200ms;
            a{
                    padding: 0px 38px 0px 38px;
                    transition: 200ms;
            }
            .textito{
                    border: 0;
                    background-color: #fff5f7;
                    color: black;
                    margin-top: 5px;
                    width: 90%;
                    height: 28px;
                    font-size: 25px;
                    outline: none;
                    //z-index: 1;
            }
            .imagen{
                    position: absolute;
                    max-height: 42px;
                    max-width: 42px;
                    //z-index: 1;
            }
            .imagen:hover{
                    filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
            }
            // .imagen:hover{
            //         color-adjust: red;
            // }
    }
}
//Aqui agrego todos los que quieran que desplieguen algo del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Lista1, .Lista2, .Lista3{  
    margin: 0px -38px;
    display: block;
    text-align: center;
    padding: 0px;
    transition: 20ms;
    visibility: hidden;
    position: sticky;
}
//Aqui se separan y ordenan cada punto desplegable de las listas del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Listado{
    display: block;
    padding: 10px;    
    list-style: none;
}

//Clase padre del SeccionTipo1
.SeccionTipo1{
    display: flex;
    flex-wrap: wrap; 
    width: 100%;
    height: 770px;
    //Aqui  va toda la seccion de la derecha, el contenido lateral.
    .LateralIzquierdo{
        margin-left: 3%;
        width: 26%;
        height: 290px;
        position: absolute;
        //right: 0;
        z-index: 1;
        //display: inline-block;
        .NoticiaLateral{
                margin-top: 9px;
                .NLTitulo{ 
                        margin-left: 44%;
                        margin-top: 4%;
                        width: 54%;
                        position: absolute;
                        transition: 200ms;

                }
                .NLImagen{   
                        margin-left: 15%;
                        margin-top: 2%;
                        width: 20%;
                        height: 50px;
                        // background-size: cover;
                        // background-image:
                        //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                        //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');                                
                        transition: 200ms;
                }
        }
    }
    // - - - Gestion Noticias - - -
    .LateralDerecho1{
            //margin: 0% 0% 5% 3%; //top, right, bottom, left
            //background-color: tomato;
            position: absolute;
            right: 3%;
            width: 65%;
            height: 770px;
            display: none;
            .Im{
                position: absolute;
                width: 220px;
                height: 660px;
                .LDImagenes, .LDVideo{
                    //position: relative;
                    width: 200px;
                    height: 150px;
                    margin: 10px 10px 0px 10px;
                }

            }
            .Te{
                position: absolute;
                width: 74%;
                height: 660px;
                margin-left: 230px;

            }
            .Bo{
                //width: auto;
                //position: absolute;
                display: inline-flex;
                margin: 10px;
                margin-top: 650px;
            }
            button{
                font-size: 25px;
                height: 60px;
                margin: 10px;
            }
            textarea{
                height: 90px;
                width: 400px;
                font-size: 20px;;
                resize: none;
            }
    }
        // - - - Gestion Noticias - - -
    .LateralDerecho2{
                margin-top: 0px;
                position: absolute;
                right: 3%;
                width: 65%;
                height: 680px;
                display: none;
                .Perfil1{
                        margin-top: 10px;
                        
                        img{
                                margin-left: 310px;
                                border-radius: 40px;
                        }
                        label{
                                display: flex;
                                flex-wrap: wrap; 
                                justify-content: center;
                                font-size: 25px;
                                height: 45px;
                        }
                }
                .Perfil2{
                        margin-top: 10px;

                        label{
                                display: flex;
                                flex-wrap: wrap; 
                                justify-content: center;
                                font-size: 25px;
                                height: 45px;
                                margin-bottom: 0px;
                                margin-top: 10px;
                        }
                        input{ 
                                font-size: 22px;
                                margin-left: 280px;
                                width: 300px;
                        }

                        .file{
                                margin-top: 10px;
                                margin-left: 200px;
                        }
                        .submit{
                                width: 150px;
                                margin-left: 365px;
                                margin-top: 25px;
                        }
                }
    }

    .LateralDerecho3{
        position: absolute;
        right: 3%;
        width: 65%;
        height: 680px;
        display: none;
        
        .MNImagen{
            display: inline-block;
            margin-left: 5%;
            margin-top: 10px;
            margin-right: 1%;
            width: 25%;
            height: 130px;
        }
        .MNTitulo{
            margin-right: 3%;
            margin-top: 10px;
            display: inline-block;
            padding-left: 0px;
            position: absolute;
            width: 62%;
            height: 130px;
            line-height: 25px;
            font-size: 26px;
            
        }
        margin-bottom: 10px;
    
    }

    .LateralDerecho4{
        margin-top: 0px;
        position: absolute;
        right: 3%;
        width: 65%;
        height: 1170px;
        display: none;
        .Perfil1{
                margin-left: 50px;
                height: 150px;
                width: 40%;
                display: inline-block;
                margin-top: 10px;
                border: brown solid 2px;
                img{   
                        position: absolute;
                        width: 100px;
                        margin-left: 10px;
                        margin-top: 10px;
                        border-radius: 40px;
                }
                label{
                        margin-left: 150px;
                        margin-top: 25px;
                        position: absolute;
                        display: flex;
                        flex-wrap: wrap;
                        justify-content: center;
                        font-size: 25px;
                        height: 45px;
                }
                input[type=button]{
                        font-size: 20px;
                        margin-top: 115px;
                        margin-left: 55px;
                }
                .Tipo{
                        margin-top: 55px;
                }
        }
}
    .activo{
        display: block;
    }

    margin-bottom: 10px;

}


//Clase para el Pie de pagina.
.PiePagina{
    padding-top: 20px;
    max-width: 100%;
    height: 40px;
    transition: 200ms;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    a{
            padding: 0px 7% 0px 7%;    
            transition: 200ms;
    }  
}