$colorA: #fff5f7;    
$colorB: #fff5e8;
$colorC: #fbcc88;        
$colorD: #baa190;    
$colorE: #b48b75;    
$colorF: #91777e;    
$colorG: #89463e;    
$colorH: #984418;    
$colorI: #ce7825;    
$colorJ: #3b3630;
$colorK: #3b3630;
$colorWhite: White;

body{
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    background: linear-gradient(90deg, $colorJ 0%, $colorE 100%);   
    color: $colorJ;
    cursor: default
}

.Formularios{
    background: white;
    
    input{
        background: $colorA;
        color: $colorJ;
        border: 0;
        font-size: 14px;
    }
    button{
        background: $colorG;
        border: 0;
        color: #FFFFFF;
        font-size: 14px;
        text-transform: uppercase;
    }
    button:hover{
        background: $colorH;
    }
    .Mensage{
        color: $colorJ;
        font-size: 12px;
        a{
            color: $colorG;
            text-decoration: none;
        }

    }
    .Radioos{ 
        label {
            font-size: 12px;
            background-color: $colorA;      
            border-radius: 4px;
            border: 1px solid #444;
        }          
        label:hover {
            background-color: $colorC;
        }
          
        input[type="radio"]:focus + label {
            border: 2px dashed #444;
        }
          
        input[type='radio']:checked + label {
            background-color: $colorH;
            border-color: $colorH;
            color: #FFFFFF;
        }


    }
}