
.Todo{
    width: 360px;
    padding: 10% 0 0;
    margin: auto;
}
.Formularios{
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    position: relative;
    z-index: 1;
    text-align: center;
    //box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input{
        width: 100%;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        }
    button{
        width: 100%;
        padding: 15px;
    }
    .Mensage{
        margin: 15px 0 0;
    }   
    .Form-Registo{
        display: inherit;
    }
    .Form-Login{
        display: none;
    }
    .Radioos{
        
        margin: 10px;
          
          
        input[type="radio"] {
            opacity: 0;
            position: fixed;
            width: 0;
        }
          
        label {
              display: inline-block;
              padding: 8px 14px;
        }
        
        

    }

}


