//El titulo " | Cookie & Toño Sports | ".
.Titulo{
        margin: 10px 3.3% 10px 3.3%;
        width: 93.4%;
        height: 60px;
        //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
        position: flex;
        display: flex;
        justify-content: center;
        transition: 200ms;
}
//El Menu, la barra que cambia de colores de izquierda a derecha.
.Barra{
        position: sticky;
        top: 0;
        display: flex;
        flex-wrap: wrap; 
        max-width: 100%;
        z-index: 5;
        .Menu{
                margin: 10px 0% 10px 3%;
                width: 60.0%;
                height: 40px;
                //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
                position: sticky;
                top: 0;
                z-index: 5;  
                display: flex;
                justify-content: left;
                transition: 200ms;
                .cat1{
                        margin-top: 0px;
                        a{
                                padding:  0px 25px 0px 25px;;
                        }
                }
                a{
                        padding: 0px 38px 0px 38px;
                        transition: 200ms;
                }
        }
        .MenuB{
                margin: 10px 3% 0px 0px;
                width: 33.7%;
                height: 40px;
                //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
                position: sticky;
                top: 0;
                right: 0;
                z-index: 5;  
                
                justify-content: left;
                transition: 200ms;
                a{
                        padding: 0px 38px 0px 38px;
                        transition: 200ms;
                }
                .textito{
                        border: 0;
                        background-color: #fff5f7;
                        color: black;
                        margin-top: 5px;
                        width: 90%;
                        height: 28px;
                        font-size: 25px;
                        outline: none;
                        //z-index: 1;
                }
                .imagen{
                        position: absolute;
                        max-height: 42px;
                        max-width: 42px;
                        //z-index: 1;
                }
                .imagen:hover{
                        filter: sepia(54%) brightness(87%) hue-rotate(132deg) saturate(451%) contrast(106%) invert(50%);
                }
                // .imagen:hover{
                //         color-adjust: red;
                // }
        }
}

//Aqui agrego todos los que quieran que desplieguen algo del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Lista1, .Lista2, .Lista3{  
        margin: 0px -38px;
        display: block;
        text-align: center;
        padding: 0px;
        transition: 20ms;
        visibility: hidden;
        position: sticky;
}
//Aqui se separan y ordenan cada punto desplegable de las listas del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Listado{
        display: block;
        padding: 10px;    
        list-style: none;
}
//Clase padre del SeccionTipo1
.SeccionTipo1{
        display: flex;
        flex-wrap: wrap; 
        width: 100%;
        height: 770px;
        //Aqui  va toda la seccion de la izquiera, el contenido grande.
        .LateralIzq{
                margin: 0% 0% 5% 3%; //top, right, bottom, left
                width: 65%;
                height: 770px;
                //Aqui se modifica el seccionado de cada noticia importante, la que es de tamaño grande.
                .NoticiaTipo1{             
                        .NT1Titulo{
                                margin-top: 10px;
                                margin-left: 41%;
                                width: 23%;
                                height: 70px;
                                z-index: 1;
                                position: absolute;
                                transition: 200ms;
                        }       
                        .NT1Descripcion{    
                                margin-top: 110px;
                                margin-left: 41%;
                                width: 23%;
                                height: 300px;
                                z-index: 1;
                                position: absolute;
                                line-height: 35px;
                                transition: 200ms;
                        }       
                        .NT1Imagen{
                                
                                width: 62%;
                                height: 400px;
                                background-size: cover;
                                // background-image:
                                //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                                //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');
                                // filter: blur(0px);
                                border-radius: 3px;
                                transition: 200ms;
                        }
                        .NT1Fecha{
                                margin-top: -28px;
                                margin-left: 5px;
                                z-index: 1;
                                position: absolute;
                                transition: 200ms;
                        }
                        
                }
                //Aqui se modifica el seccionado de cada noticia importante, la que es de tamaño grande.
                .NoticiaTipo2{ 
                        margin-top: 10px;
                        width: 49.1%; 
                        height: 360px;
                        display: flex;
                        flex-wrap: wrap; 
                        display: inline-block;
                        .NT2Titulo{
                                margin-top: 250px;
                                margin-left: 10px;
                                width: 30.5%;
                                height: 20px;
                                z-index: 1;
                                position: absolute;
                                transition: 200ms;
                                
                        }
                        .NT2Descripcion{    
                                margin-top: 285px;
                                margin-left: 10px;
                                width: 30.5%;
                                height: 60px;
                                z-index: 1;
                                position: absolute;
                                line-height: 18px;
                                transition: 200ms;
                        }                     
                        .NT2Imagen{
                                width: 100%;
                                height: 250px;
                                background-size: cover;
                                // background-image:
                                //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 85%, rgba(0,0,0,1) 100%),
                                //         url('https://cdn-images.win.gg/news/24f2f931f12a4d9149876a5bef93e96a/3825571b517d5cf218b427a758b045b2/original.jpg');
                                // filter: blur(0px);
                                border-radius: 3px;
                                transition: 200ms;
                                
                        }
                        .NT2Fecha{
                                margin-top: -25px;
                                margin-left: 5px;
                                z-index: 1;
                                position: absolute;
                                transition: 200ms;
                        }
                }
        }

        //Aqui  va toda la seccion de la derecha, el contenido lateral.
        .LateralDer{
                margin-right: 3%;
                width: 26%;
                height: 770px;
                position: absolute;
                right: 0;
                z-index: 2;
                //display: inline-block;
                .NoticiaLateral{
                        margin-top: 9px;
                        .NLTitulo{ 
                                margin-left: 44%;
                                margin-top: 0%;
                                width: 54%;
                                position: absolute;
                                transition: 200ms;

                        }
                        .NLDescripcion{
                                margin-left: 44%;
                                margin-top: 25px;                               
                                width: 54%;
                                position: absolute;
                                transition: 200ms;
                        }
                        .NLImagen{   
                                margin-left: 2%;
                                margin-top: 2%;
                                width: 40%;
                                height: 100px;
                                // background-size: cover;
                                // background-image:
                                //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                                //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');                                
                                transition: 200ms;
                        }
                        .NLFecha{
                                margin-top: -20px;
                                margin-left: 12px;
                                z-index: 1;
                                position: absolute;
                                transition: 200ms;
                        }
                }
        }
        margin-bottom: 10px;
}
//Clase padre del SeccionTipo2
.SeccionTipo2{
        max-width: 100%;
        height: 350px;
        padding-left: 3.5%;
        padding-right: 3%;
        .NoticiaTipo3{
                display: inline-block;
                width: 32.5%;
                height: 350px;               
                .NT3Titulo{
                        margin-top: 210px;
                        margin-left: 1%;
                        width: 28.5%;
                        height: 75px;
                        z-index: 1;
                        line-height: 20px;
                        position: absolute;
                        transition: 200ms;
                        
                }       
                .NT3Descripcion{    
                        margin-top: 295px;
                        margin-left: 1%;
                        width: 28.5%;
                        height: 45px;
                        z-index: 1;
                        position: absolute;
                        line-height: 15px;
                        transition: 200ms;
                        
                }       
                .NT3Imagen{
                        width: 100%;
                        height: 200px;
                        // background-size: cover;
                        // background-image:
                        //         linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 65%, rgba(0,0,0,1) 100%),
                        //         url('https://www.dailyesports.gg/wp-content/uploads/2020/09/05_Lee_Sin_Splash-800x400.jpg');
                        // filter: blur(0px);
                        border-radius: 3px;
                        transition: 200ms;
                }
                .NT3Fecha{
                        margin-top: -25px;
                        margin-left: 5px;
                        z-index: 1;
                        position: absolute;
                        transition: 200ms;
                }
        }
        margin-bottom: 10px;
}
//Clase para el Pie de pagina.
.PiePagina{
        padding-top: 20px;
        max-width: 100%;
        height: 40px;
        transition: 200ms;
        display: flex;
        justify-content: center;
        a{
                padding: 0px 7% 0px 7%;    
                transition: 200ms;
        }  
}
