//El titulo " | Cookie & Toño Sports | ".
.Titulo{
    margin: 10px 3.3% 10px 3.3%;
    width: 93.4%;
    height: 60px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: flex;
    display: flex;
    justify-content: center;
    transition: 200ms;
}

//El Menu, la barra que cambia de colores de izquierda a derecha.
.Menu{
    margin: 10px 2%;
    width: 96%;
    height: 40px;
    //position: fixed, sirve para ordenar en partes el header.. en este caso, 3 partes.
    position: sticky;
    top: 0;
    z-index: 5;  
    display: flex;
    justify-content: center;
    transition: 200ms;
    a{
            padding: 0px 38px 0px 38px;
            transition: 200ms;
    }
}
//Aqui agrego todos los que quieran que desplieguen algo del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Lista1, .Lista2, .Lista3{  
    margin: 0px -38px;
    display: block;
    text-align: center;
    padding: 0px;
    transition: 20ms;
    visibility: hidden;
    position: sticky;
}
//Aqui se separan y ordenan cada punto desplegable de las listas del menu; si agrego uno, tengo que ajustar los colores en _colors.
.Listado{
    display: block;
    padding: 10px;    
    list-style: none;
}



//Clase para el Pie de pagina.
.PiePagina{
    padding-top: 20px;
    max-width: 100%;
    height: 40px;
    transition: 200ms;
    display: flex;
    justify-content: center;
    a{
            padding: 0px 7% 0px 7%;    
            transition: 200ms;
    }  
}